back/node_modules
back/public/hot
back/public/storage
back/storage/*.key
back/vendor
back/.idea
back/.vagrant
back/Homestead.json
back/Homestead.yaml
back/npm-debug.log
back/yarn-error.log
back/.env
front/node_modules
