
    <ul>
        <li><button ng-click="ctrl.autenticar()" id="autenticar">Autenticar</button></li>
        <li><span style="color:red">Access Token</span>: {{ ctrl.token.access_token }}</li>
        <li><span style="color:red">Expires in</span>: {{ ctrl.token.expires_in }}</li>
        <li><span style="color:red">Token Type</span>: {{ ctrl.token.token_type }}</li>
    </ul>
    <ul>
        <li><button ng-click="ctrl.getUsuario()" id="usuario">Usuário</button></li>
        <li><span style="color: blue">Id</span>: {{ ctrl.usuario.id }}</li>
        <li><span style="color: blue">Name</span>: {{ ctrl.usuario.name }}</li>
        <li><span style="color: blue">Email</span>: {{ ctrl.usuario.email }}</li>
        <li><span style="color: blue">Created at</span>: {{ ctrl.usuario.created_at }}</li>
        <li><span style="color: blue">Updated at</span>: {{ ctrl.usuario.updated_at }}</li>
    </ul>
<style media="screen">
    * {
        word-wrap: break-word;
    }
    
    ul {
        list-style-type: none;
        background-color: #e2e2e2;
        border-radius: 4px;
        padding: 15px
    }

    ul li {
        margin: 5px
    }

    button {
        cursor: pointer;
        border: none;
        border-radius: 4px;
        width: 100px;
        height: 30px;
        padding: auto;
        color: white;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    }

    #autenticar {
        background-color: red
    }

    #usuario {
        background-color: blue
    }
</style>
